.container{
margin-bottom: 0;
}

.jumbotron{
    background-color:aqua !important;
    margin-bottom: 0;
    height: 100%;
}
#first{
    width: 100px;
    float: left;
    margin-left: 0;
}
#second{
    width: 100px;
    float: right;
}

#third{
    width: 100px;
    margin-left: 0;
    margin-top:400px;
    float: left;
}

#forth{
    width: 100px;
    margin-top: 400px;
    float: right;
}

#fifth{
    width: 100px;
    margin-top: 200px;
    margin-left: 65%;

}